
@{
    ViewBag.Title = "OrderConfirm";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

<h2>OrderConfirm</h2>

<div style="margin-top: 100px; text-align: center">
    Dziękujemy! Twoje zamówienie zostało wysłane!
</div>