@model IEnumerable<testowo.Models.Category>
@using testowo.Infrastructure
<nav class="KategorieVertical">
    <ul>


        @foreach (var c in Model)
        {
            <li>
                <a href="@Url.Action("List","Course",new { nameCat = c.CategoryName.ToLower() })"
                   style="background-image: url(@Url.CatIconPath(c.NameFileIcon)); ">
                    @c.CategoryName
                </a>
            </li>
        }

    </ul>
    </nav>


